<com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>
  <scope>GLOBAL</scope>
  <id>{{ jenkins_github_id }}</id>
  <description></description>
  <username>{{ jenkins_github_username }}</username>
  <password>{{ jenkins_github_password }}</password>
</com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>
